
aside {
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    padding-top: 20px;
    border-right: rgba(240,240,240, 0.5) outset 1px;
    z-index: 1;
    
    a {
        display: flex;
        gap: 10px;
        max-height: 50px;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        align-items: center;
    }


    a:hover {
        background-color: rgb(18,18,18);
    }
    
    h1 {
        text-align: center;
        font-size: 30px;
        padding: 15px 20px;
    }
    button {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 10px
    }
    
}

@media (max-width: 768px) {
    h1 {
        display: none;
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100px;
        justify-items: center;
    }
    aside a {
        text-align: center;
        padding: 10px 0px;
        font-size: 18px;
    }
    main {margin-left: 0;}
    aside a p{
        display: none;
    }
    aside button  {
        display: none;
    }
    
}
  